* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    color: #9ba0b8;
    background: rgb(29,18,32);
    background: linear-gradient(90deg, rgba(29,18,32,1) 0%, rgba(102,38,142,1) 50%, rgba(27,18,29,1) 100%);
}

.container{
    padding: 5%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.meta-container {
    width: 60%;
    min-width: 60%;
    left: -10%;
    top: 100px;
    margin-bottom: 40px;
    position: sticky;
}

.items-container {
    margin-top: 15%;
    flex-direction: column;
    display: flex;
    position: sticky;
    align-items: flex-start;
    width: 100%;
    max-width: 1800px;
}

.select-container {
    margin-top: 30%;
}

.sub-container {
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.meta-portal-list {
    padding-right: 0;
    width: 57%;
    overflow: hidden;
    position: absolute;
    bottom: -22.5%;
    right: 8%;
}

.page-header {
    margin: 10%;
}

.page-title {
    background: linear-gradient(var(--mc1),var(--mc2));
    color: #ddd;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
  
p {
    color: #ddd;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 400;
}

a {
    color: #ddd;
    text-decoration: none;
}

.divider {
    margin: 0 10px;
}


.list {
    background: rgba(0,0,0,.3);
    border: 1px #545454;
    border-radius: 5px;
    width: 50%;
    padding: 20px;
}

.select-field {
    background: rgba(0,0,0,.3);
    margin-top: 10px;
    margin-bottom: 5px;  
    width: 50%;
    padding: 20px;
    outline: none;
    border: 1px #545454;
    border-radius: 5px;
}

input {
    font-size: 20px;
    outline: none;
    border: none;
}

.offers {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.type-field {
    color: #ddd;
    font-size: 20px;
    font-weight: 400;
}

.x-fig {
    color: #9ba0b8;
    font-size: 16.8px;
    font-weight: 400;
}

.x-alph {
    color: #ddd;
    font-size: 16.8px;
    font-weight: 400;
}

.arrow-up {
    font-size: 1rem;
    font-weight: 400;
    color: #ddd;
    cursor: pointer;
    float: right;
}

/*.meta-portal-list {
    width: 50%;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 20px 5px;
    border-radius: 5px;
    margin-bottom: 50px;
}*/

.feature-box {
    background-color: rgba(0,0,0,.3);
    border: 1px #545454;
    border-radius: 5px;
    width: 100%;
    height: 70px;
    margin-left: 2px;
    margin-bottom: 50px;
}

.box-0 {
    padding: 25px;
}

.box-1 {
    color: #9ba0b8;
    padding: 10px 20px 10px 20px;
    border: 1px solid #ddd;
    border-right: 0px;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.box-2 {
    color: #9ba0b8;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    border: 1px solid #ddd;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.meta-imgs {
    overflow: hidden;
    box-sizing: border-box;
}


.meta-functions {
    margin: 0 0 0 -75px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.display {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li {
    width: 50%;
    padding-left: 40px;
    margin-bottom: 40px;
    left: 0px;
    top: 0px;
}

.nft-img {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.5);
    background-color: rgba(37,37,37,.05);
    position: relative;
    text-align: center;
}

.meta-name {
    color: #ccc;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 100;
    line-height: 21px;
}

/*@media (max-width: 969px) {
    .items-container {
        flex-wrap: wrap;
    }
    .meta-container {
        width: 100%;
    }
    .meta-portal-list {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .items-container {
        flex-wrap: wrap;
    }
    .meta-container {
        width: 100%;
        margin: 10px;
    }
    .meta-portal-list {
        width: 100%;
        margin: 10px;
    }
}*/